body{
    font-family: sans-serif;
    background-color: black;
}
h1{
    text-align: center;
    padding-top: 00.5rem;
}
.Container{
    width: 1000px;
    height: 600px;
    background-image: url(/pics/sam-moqadam-yy_hPoGtM5U-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto;
}

#calculator{
    background-color: oldlace;
    width: 320px;
    height: 520px;
    margin: 0 auto;
    top: 0.5px;
    position: relative;
    border-radius: 0.5rem;
    
}

#result{
    height: 120px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
#keyboard{
    height: 120px;
}

.operator , .number , .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty{
    background-color: #eaedef;
}

.number,.operator{
    cursor: pointer;
}

.operator:active,.number:active{
    font-size: 13px;
}

.operator:focus,.number:focus,.empty:focus{
    outline: 0;

}

button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}

button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #7d93e0;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #9477af;
}

button:nth-child(20){
    font-size: 20px;
    background-color: #20b26e;
}